<a href="#" data-target="#creditCard" data-toggle="modal" style="color:blue;" xmlns="http://www.w3.org/1999/html">
    <span th:if="${#lists.isEmpty(user.creditCards)}">Add Credit Card</span>
    <span th:unless="${#lists.isEmpty(user.creditCards)}">Add Another Card</span>
</a>
<div class="modal text-center" id="creditCard">
    <div class="modal-dialog" type="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Credit Card</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/add-credit-card}" method="POST" th:object="${creditCard}">
                    <span th:replace="commons/credit_card_form.html"></span>
                    <div class="row text-center">
                        <div class="col-10"></div>
                        <div class="col" style="margin-top: 5%">
                            <button class="btn btn-primary" type="submit">Add</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

