<button class="btn btn-warning" data-target="#editRes" data-toggle="modal" type="button" >Edit Reservation</button>
<div class="modal text-center" id="editRes">
    <div  class="modal-dialog" type="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Reservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/edit-reservation}"  th:object="${retrievedReservation}" th:method="POST">
                    <input type="hidden" th:attr="name='reservationId'" th:value="${retrievedReservation.reservationId}">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label>status</label>
                            </div>
                            <div class="col-6">
                                <select name="status" id="status">
                                    <option>SCHEDULED</option>
                                    <option>CANCELLED</option>
                                    <option>PAST</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>Flight Code</label>
                            </div>
                            <div class="col-6">
                                <input type="text" id="flight_id" name="flight_id">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>User email</label>
                            </div>
                            <div class="col-6">
                                <input type="text" id="email" name="email">
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

