<button class="btn btn-primary" data-target="#editProfile" data-toggle="modal" type="button" >Edit Profile</button>
<div class="modal text-center" id="editProfile">
    <div class="modal-dialog" type="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/edit-profile}" method="POST" th:object="${user}">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" th:field="*{username}" readonly pattern="^[a-zA-Z0-9_-]{5,32}$" required>
                            <!--<div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>-->
                        </div>
                        <span th:replace="commons/user_form_common"></span>
                        <div class="row text-center">
                            <div class="col-10"></div>
                            <div class="col" style="margin-top: 5%">
                                <button class="btn btn-primary" type="submit">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

