<!doctype html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="common_head.html"></div>
<head>
    <style>
        body {
            background-image: url("images/index_page_background_image.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<nav th:replace="common_navbar.html"></nav>
<div class="container">
    <div class="row">
        <div class="col"  style="padding-top: 25%">
            <div class="jumbotron">
                <div>
                    <h1 class="display-3">Hello, world!</h1>
                    <p class="lead">Flights to all over the world. Book your reservations now!</p>
                    <hr class="my-4">
                    <div>
                        <p>Make a reservation as a guest</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="/show-all-flights" role="button">Book Flight</a>
                        </p>
                        <div th:if="${user == null}">
                            <p>Retrieve your past reservation</p>
                            <p class="lead">
                                <form class="form-inline my-2 my-lg-0" action="/reservation" method="GET">
                                    <input id="reservationId" name="reservationId" class="form-control" placeholder="Reservation ID" type="search" style="background-color:white;">
                                    <button class="btn btn-primary" type="submit" >Search</button>
                                </form>
                            </p>
                        </div>
                    </div>
                    <div th:if="${user == null}">
                        <span th:if="${retrievedReservation != null}">
                            <table class= "table table-hover">
                                <thead>
                                    <th>Departure Airport</th>
                                    <th>Departure Date</th>
                                    <th>Arrival Airport</th>
                                    <th>Arrival Date</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                    <td th:text="${retrievedReservation.flight.dep_airport}"></td>
                                    <td th:text="${#dates.format(retrievedReservation.flight.departure, 'MM/dd/yyyy H:mm z')}"></td>
                                    <td th:text="${retrievedReservation.flight.arr_airport}"></td>
                                    <td th:text="${#dates.format(retrievedReservation.flight.arrival, 'MM/dd/yyyy H:mm z')}"></td>
                                    <td th:text="${retrievedReservation.status}"></td>
                                    <td  th:if="${reservation.status == T(ie.ucd.dfh.model.Status).SCHEDULED}">
                                       <span th:include="modals/delete_reservation_check.html"></span>
                                </tbody>
                            </table>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Executive Club Members</h4>
                    <p>Executive Club Members enjoy a range of benefits up to and including:
                    Make multiple reservations, visualize your history and more!</p>
                    <div th:if="${user == null}">
                        <a class="btn btn-secondary btn-lg" href="/login" role="button">Sign up</a>
                        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                    </div>
                    <div th:if="${user != null}">
                        <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
                    </div>

                </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>
