<!doctype html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="common_head.html"></div>
<head>
    <style>
        body {
            background-image: url("images/index_page_background_image.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col"  style="padding-top: 25%">
            <div class="jumbotron">
                <h1 class="display-3">Hello, world!</h1>
                <p class="lead">Flights to all over the world. Book your reservations now!</p>
                <hr class="my-4">
                <p>Make a reservation as a guest</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Executive Club Members</h4>
                    <p>Executive Club Members enjoy a range of benefits up to and including:
                    Make multiple reservations, visualize your history and more!</p>
                    <a class="btn btn-secondary btn-lg" href="#" role="button">Sign up</a>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
                </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>
