<!DOCTYPE html>
<html>

<div th:replace="common_head.html"></div>
<body>
<nav th:replace="common_navbar.html"></nav>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <!-- Registration -->
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form role="form" method="post" action="#" th:action="@{/registration}" th:object="${user}" >
                    <p class="text-uppercase pull-center">Create an Account</p>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Username (e.g. JohnDoe123)" pattern="^[a-zA-Z0-9_-]{5,32}$" required>
                        <!--<div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>-->
                    </div>
                    <span th:replace="commons/user_form_common.html" ></span>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Password" autocomplete="off" required>
                        <!--<div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>-->
                    </div>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>
                    <div>
                        <button type="submit" class="btn btn-primary">Create Account</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


</body>

</html>