<!DOCTYPE html>
<html>

<div th:replace="common_head.html"></div>
<body>
<nav th:replace="common_navbar.html"></nav>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <!-- Registration -->
            <div class="col-md-5">
                <form role="form" method="post" action="/registration" modelAttribute="userForm">
                    <p class="text-uppercase pull-center">Create an Account</p>
                    <div class="form-group">
                        <label for="first-name">First Name:</label>
                        <input type="text" class="form-control" id="first-name" name="firstName" placeholder="First Name" pattern=".{1,}" required title="Can't be blank">
                    </div>
                    <div class="form-group">
                        <label for="surname">Surname:</label>
                        <input type="text" class="form-control" id="surname" name="surname" placeholder="Surname" pattern=".{1,}" required title="Can't be blank">
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" pattern=".{1,}" required title="Can't be blank">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" maxlength="12" required title="Can't be blank">
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Address" required title="Can't be blank">
                    </div>
                    <div class="form-group">
                        <label for="email-reg">Email Address:</label>
                        <input type="email" class="form-control" id="email-reg" name="email" placeholder="Enter your email address" autocomplete="off" pattern=".{1,}" required title="Can't be blank">
                    </div>
                    <span th:if="invalidPass != null">
                        <label style="color:red"; th:text=""${invalidPass}></label>
                    </span>
                    <div class="form-group">
                        <label for="password-reg">Password:</label>
                        <input type="password" class="form-control" id="password-reg" name="password" placeholder="Password" autocomplete="off" pattern=".{1,}" required title="Can't be blank">
                    </div>
                    <span th:if="emailTaken != null" >
                            <label style="color:red;" th:text="${emailTaken}"></label>
                        </span>
                    <div>
                        <button type="submit" class="btn btn-primary">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>

</html>