<!DOCTYPE html>
<html lang="en">
<div th:replace="common_head.html"></div>
<body>
    <nav th:replace="common_navbar.html"></nav>
    <div class="container-fluid">

        <div class="container">
            <div class="row" id="content">
                <div class="col-lg-3"></div>
                <div  class="col-lg-6" style="display: block;">
                    <h2 class="text-uppercase pull-center">User Profile</h2>
                    <div class="page-box my-4 px-5 py-3 shadow-lg">
                        <table class="table table-borderless text-table">
                            <tbody>
                                <tr>
                                    <td>Username: </td>
                                    <td th:text="${user.username}"></td>
                                </tr>
                                <tr>
                                    <td>First Name: </td>
                                    <td th:text="${user.firstName}"></td>
                                </tr>
                                <tr>
                                    <td>Last Name: </td>
                                    <td th:text="${user.lastName}"></td>
                                </tr>
                                <tr>
                                    <td>Phone Number: </td>
                                    <td th:text="${user.phoneNumber}"></td>
                                </tr>
                                <tr>
                                    <td>Address: </td>
                                    <td th:text="${user.address}"></td>
                                </tr>
                                <tr>
                                    <td>Email: </td>
                                    <td th:text="${user.email}"></td>
                                </tr>
                                <tr>
                                    <td>Credit Card: </td>
                                    <span id="creditCardNumber" th:unless="${#lists.isEmpty(user.creditCards)}">
                                        <td>
                                            <span th:include="modals/view_credit_cards.html"></span>
                                            <span th:include="modals/add_credit_card.html"></span>
                                        </td>
                                    </span>
                                    <span th:if="${#lists.isEmpty(user.creditCards)}">
                                        <td><span th:include="modals/add_credit_card.html"></span></td>
                                    </span>
                                </tr>
                            </tbody>
                        </table>
                        <span th:include="modals/edit_profile.html"></span>
                        <span th:include="modals/change_password.html"></span>

                        <button form="deleteRegistration" type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
                        <form id="deleteRegistration" action="#" th:action="@{'/user/delete/{id}'(id=${user.id})}" th:method="delete">

                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>

</body>
</html>